################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Simulation Software/x64/Debug
/Simulation Software/.vs/Simulation Software
*.txt
